#include "resource.h"

ID_ICON     ICON        "main.ico"
ID_MANIFEST RT_MANIFEST "main.manifest"

ID_DIALOG1 DIALOGEX 0, 0, 220, 145
STYLE DS_CENTER | WS_CAPTION | WS_MINIMIZEBOX | WS_POPUP | WS_SYSMENU
CAPTION "Mimicry V1.0"
FONT 10, "Microsoft YaHei"
BEGIN
    GROUPBOX "密码", -1, 10, 10, 200, 40
    EDITTEXT ID_PASSWORD, 20, 23, 180, 12, ES_PASSWORD | WS_BORDER
    CONTROL "显示密码", ID_SHOW, "button", BS_AUTOCHECKBOX | WS_TABSTOP, 20, 36, 50, 10
    PUSHBUTTON "加密文件", ID_ENCRYPT, 10, 55, 60, 20
    PUSHBUTTON "解密文件", ID_DECRYPT, 75, 55, 60, 20
    LTEXT "全部：", ID_TEXT1, 10, 80, 200, 10
    LTEXT "当前：", ID_TEXT2, 10, 110, 200, 10
    CONTROL "", ID_PROGRESS1, "msctls_progress32", WS_BORDER | WS_VISIBLE, 10, 90, 200, 15
    CONTROL "", ID_PROGRESS2, "msctls_progress32", WS_BORDER | WS_VISIBLE, 10, 120, 200, 15
END
