#include "resource.h"

ID_MAIN_ICON     ICON        "main.ico"
ID_MAIN_MANIFEST RT_MANIFEST "main.manifest"

ID_D1_WND DIALOGEX 0, 0, 220, 160
STYLE DS_CENTER | WS_CAPTION | WS_MINIMIZEBOX | WS_POPUP | WS_SYSMENU
CAPTION "Mimicry V1.0"
FONT 10, "Microsoft YaHei"
BEGIN
    GROUPBOX "密码", ID_D1_GROUP1, 10, 10, 200, 40
    EDITTEXT ID_D1_PASSWORD, 20, 23, 180, 12, ES_PASSWORD | WS_BORDER
    CONTROL "显示密码", ID_D1_SHOW, "BUTTON", BS_AUTOCHECKBOX | WS_TABSTOP, 20, 36, 50, 10
    PUSHBUTTON "加密文件", ID_D1_ENCRYPT, 10, 55, 60, 20
    PUSHBUTTON "解密文件", ID_D1_DECRYPT, 75, 55, 60, 20
    CONTROL "", ID_D1_CONSOLE, "LISTBOX", LBS_DISABLENOSCROLL | LBS_NOINTEGRALHEIGHT | WS_BORDER | WS_VSCROLL, 10, 80, 200, 70
END
