#include "resource.h"

1 ICON        "main.ico"
1 RT_MANIFEST "main.manifest"

ID_DIALOG DIALOGEX 0, 0, 300, 200
STYLE DS_CENTER | WS_CAPTION | WS_MINIMIZEBOX | WS_POPUP | WS_SYSMENU
CAPTION "Mimicry V1.0"
FONT 10, "Microsoft YaHei"
BEGIN
    LTEXT "密码：", -1, 10, 10, 50, 10
    EDITTEXT ID_PASSWORD, 10, 20, 170, 12, ES_PASSWORD
    AUTOCHECKBOX "显示密码", ID_MASK, 10, 34, 50, 10
    PUSHBUTTON "加密文件", ID_ENCRYPT, 185, 15, 50, 20
    PUSHBUTTON "解密文件", ID_DECRYPT, 240, 15, 50, 20
    CONTROL "", ID_DETAILS, "SysListView32", LVS_REPORT, 10, 50, 280, 130
    PUSHBUTTON "清除日志", ID_CLEAR, 240, 183, 50, 12
END
